@font-face {
    font-family: 'League Gothic Semi-Condensed';
    src: url('/assets/League_Gothic_Semi_Condensed.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    --gap: 1.5rem;
    --big-gap: 3rem;
    --font: system-ui, sans-serif;
    --body-font-size: calc(1.05rem + .5vw);
    --heading-font-size: calc(.9rem + 2.6vw);
    --primary-color: #161718;
    --background-color: #FBFAF7;
    --accent-color: #8D8C8C;
}

@media(prefers-color-scheme:dark) {
    :root {
    --primary-color: #D3CEC1;
    --background-color: #161718;
    --accent-color: #8D8C8C;
    }
    #password {
        letter-spacing: .5px;
    }
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    background: none;
    overscroll-behavior: none;
}

main * + * {
    margin-block-start: var(--gap);
}

.margins-off  > * {
    margin-block-start: 0;
}

html {
    font-size: 16px;
}

body {
    min-height: 100dvh;
    font-family: var(--font);
    font-size: var(--body-font-size);
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    color: var(--primary-color);
    background-color: var(--background-color);
}

.acme-all-purpose-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    padding: 2rem 1rem;
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    width: auto;
    height: calc(4rem + 3vw);
}

#password {
    display: inline-block;
    max-width: 100%;
    margin-block-start: 4rem;
    font-family: "League Gothic Semi-Condensed";
    font-size: calc(var(--heading-font-size) * 1.5);
    line-height: 1;
    text-transform: uppercase;
}

a {
    display: inline-block;
    color: var(--primary-color);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--accent-color);
    text-underline-offset: 2px;
    text-decoration-skip-ink: all;
    pointer-events: auto;
    cursor: pointer;
    transition: background-color .3s ease;
}

@media (hover:hover) and (pointer:fine) {
    a:hover {
        opacity: .6;
    }
}

h1 {
    font-size: var(--heading-font-size);
    font-weight: bold;
    line-height: 1.1;
    text-align: center;
    color: var(--primary-color);
}

.red {
    color: #D71920;
}

.underline-off {
    text-decoration: none;
}

aside {
    margin-block-start: 4rem;
}

#crown {
    width: auto;
    height: 19px;
}